# Dependencies
node_modules/

# Environment variables
.env

# Prisma generated client
prisma/generated/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Uploaded event banners (keep folder)
uploads/banners/*
!uploads/banners/.gitkeep
